html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    background-color: rgb(12, 12, 12);
}

div {
    margin: 0 auto;
    width: 700px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

li {
    margin: 0;
}

#red {
    color: rgb(236, 122, 122);
}