html {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: white;
    background-color: rgb(12, 12, 12);
    text-align: center;
}

div {
    margin: 0 auto;
    width: 700px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

#red {
    font-size: 1.3rem;
    color: rgb(236, 122, 122);
}